<header class="d-flex flex-row-nowrap justify-content-center p-20 pb-20">
	<div class="content flex-fill d-flex flew-row-nowrap align-items-center justify-content-between">
		<a class="header-logo" href="{{path('app_home')}}"><img src="{{asset('favicon.png')}}" alt="" ></a>
		<div class="header-search p-10 flex-fill">
        <i class="fa-solid fa-magnifying-glass"></i>
			<input type="text">
		</div>
        <div>
            <button class="btn  btn-primary margin-right">Inscription</button>
            <button class="btn  btn-primary-stroke">Connexion</button>
        </div>
	</div>
</header>
